@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./prism.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-poppins: 'Poppins', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-padding-top: 80px; /* Adjust this value based on your navbar height */
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
}
